{
    "extends": [
        "stylelint-config-standard-scss",
        "stylelint-config-recommended-vue"
    ],
    "plugins": [
        "stylelint-order"
    ],
    "rules": {
        "color-hex-length": "short",
        "color-named": "never",
        "comment-empty-line-before": null,
        "declaration-no-important": true,
        "declaration-block-trailing-semicolon": "never",
        "indentation": 2,
        "length-zero-no-unit": null,
        "max-line-length": 100,
        "max-nesting-depth": 4,
        "no-descending-specificity": null,
        "no-eol-whitespace": [
            true,
            {
                "ignore": [
                    "empty-lines"
                ]
            }
        ],
        "shorthand-property-no-redundant-values": null,
        "selector-list-comma-newline-after": "always-multi-line",
        "string-quotes": "single",
        "value-list-comma-newline-after": "always-multi-line",
        "scss/at-rule-no-unknown": [
            true,
            {
                "ignoreAtRules": [
                    "tailwind",
                    "apply",
                    "variants",
                    "responsive",
                    "screen"
                ]
            }
        ],
        "order/order": [
            {
                "type": "at-rule",
                "name": "include"
            },
            {
                "type": "at-rule",
                "name": "extend"
            },
            "custom-properties",
            "dollar-variables",
            "declarations",
            "rules",
            {
                "type": "at-rule",
                "name": "media"
            }
        ],
        "order/properties-alphabetical-order": true
    }
}
