# https://docs.netlify.com/configure-builds/file-based-configuration/
# Do not add secrets to this file

[build.environment]
  NETLIFY_USE_YARN="true"
  YARN_VERSION="3.4.1"
  NODE_VERSION="22.12.0"

# The following redirect is intended for use with most SPAs that handle
# routing internally.
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  # Define which paths this specific [[headers]] block will cover.
  for = "/*"
    [headers.values]
    Access-Control-Allow-Origin = "*"
