@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: notosans;
  src: url('../fonts/Noto_Sans/NotoSans-Regular.ttf');
}

@font-face {
  font-family: notosans-bold;
  src: url('../fonts/Noto_Sans/NotoSans-Bold.ttf');
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

@layer base {
  h1 { @apply text-3xl; }
  h2 { @apply text-2xl; }
  h3 { @apply text-xl; }
  h4 { @apply text-lg font-semibold; }

  :root {
    /* These colors are using a syntax special to tailwind. Uncomment hex value for reference */
    /* https://tailwindcss.com/docs/customizing-colors#using-css-variables */

    /* general branding colors */
    --color-primary: /* #EB7100 */ 235 113 0;
    --color-secondary: /* #628DEA */ 98 141 234;
    --color-tertiary: /* #245A7D */ 37 91 126;
    --color-primary-inverted: /* #FFFFFF */ 255 255 255;
    --color-primary-hover: /* #D66051 */ 214 97 81;
    --color-secondary-inverted: /* #FFFFFF */ 255 255 255;
    --color-secondary-hover: /* #D66051 */ 214 97 81;
    /* element specific colors */
    --color-text-base: /* #130402 */ 18 4 2;
    --color-text-muted: /* #999999 */ 153 153 153;
    --color-text-inverted: /* #ffffff */ 255 255 255;
    --color-bg-primary: /* #FCFCFC */ 252 252 252;
    --color-bg-secondary: /* #FFF1EF */ 255 241 240;
    --color-error: /* #d1523f */ 209 82 63;
  }

  .theme-coral {
    /* general branding colors */
    --color-primary: /* #ED6C5A */ 237 108 90;
    --color-secondary: /* #245A7D */ 36 90 125;
    --color-tertiary: /* #245A7D */ 36 90 125;
    --color-primary-inverted: /* #ffffff */ 255 255 255;
    --color-primary-hover: /* #d66051 */ 214 96 81;
    --color-secondary-inverted: /* #ffffff */ 255 255 255;
    --color-secondary-hover: /* #d66051 */ 214 96 81;
    /* element specific colors */
    --color-text-base: /* #252525 */ 37 37 37;
    --color-text-muted: /* #999999 */ 153 153 153;
    --color-text-inverted: /* #000000 */ 255 255 255;
    --color-bg-primary: /* #fcfcfc */ 252 252 252;
    --color-bg-secondary: /* #fff1ef */ 255 241 239;
    --color-error: /* #d1523f */ 209 82 63;
  }

  .theme-violet {
    /* general branding colors */
    --color-primary: /* #A45D9A */ 164 93 154;
    --color-secondary: /* #DA5550 */ 218 85 80;
    --color-tertiary: /* #F4F3E9 */ 244 243 233;
    --color-primary-inverted: /* #ffffff */ 255 255 255;
    --color-primary-hover: /* #c46fb8 */ 196 111 184;
    --color-secondary-inverted: /* #ffffff */ 255 255 255;
    --color-secondary-hover: /* #d66051 */ 214 96 81;
    /* element specific colors */
    --color-text-base: /* #252525 */ 37 37 37;
    --color-text-muted: /* #464646 */ 70 70 70;
    --color-text-inverted: /* #000000 */ 255 255 255;
    --color-bg-primary: /* #fcfcfc */ 252 252 252;
    --color-bg-secondary: /* #b49ab1 */ 180 154 177;
    --color-error: /* #d1523f */ 209 82 63;
  }

  .theme-ocean {
    /* general branding colors */
    --color-primary: /* #245A7D */ 36 90 125;
    --color-secondary: /* #DA5550 */ 218 85 80;
    --color-tertiary: /* #F4F3E9 */ 244 243 233;
    --color-primary-inverted: /* #ffffff */ 255 255 255;
    --color-primary-hover: /* #007ccf */ 0 124 207;
    --color-secondary-inverted: /* #ffffff */ 255 255 255;
    --color-secondary-hover: /* #d66051 */ 214 96 81;
    /* element specific colors */
    --color-text-base: /* #252525 */ 37 37 37;
    --color-text-muted: /* #464646 */ 70 70 70;
    --color-text-inverted: /* #000000 */ 255 255 255;
    --color-bg-primary: /* #fcfcfc */ 252 252 252;
    --color-bg-secondary: /* bde5ff */ 189 229 255;
    --color-error: /* #d1523f */ 209 82 63;
  }

  .theme-neon {
    /* general branding colors */
    --color-primary: /* #1bdb9b */ 27 219 155;
    --color-secondary: /* #524c4c */ 82 76 76;
    --color-tertiary: 179 255 23;
    --color-primary-inverted: /* #ffffff */ 255 255 255;
    --color-primary-hover: /* #1abb85 */ 26 187 133;
    --color-secondary-inverted: /* #ffffff */ 255 255 255;
    --color-secondary-hover: /* #d66051 */ 214 96 81;
    /* element specific colors */
    --color-text-base: /* #88eecc */ 136 238 204;
    --color-text-muted: /* #71c5a9 */ 113 197 169;
    --color-text-inverted: /* #252525 */ 37 37 37;
    --color-bg-primary: /* #383434 */ 56 52 52;
    --color-bg-secondary: /* #524c4c */ 82 76 76;
    --color-error: /* #d1523f */ 209 82 63;
  }
}
