@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: notosans;
  src: url('../fonts/Noto_Sans/NotoSans-Regular.ttf');
}

@font-face {
  font-family: notosans-bold;
  src: url('../fonts/Noto_Sans/NotoSans-Bold.ttf');
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

@layer base {
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg font-semibold;
  }

  :root {
    /* These colors are using a syntax special to tailwind. Uncomment hex value for reference */
    /* https://tailwindcss.com/docs/customizing-colors#using-css-variables */

    /* general branding colors*/
    --color-primary:
      /* #0EB0C0 */
      14 176 192;
    --color-secondary:
      /* #FB9999 */
      251 153 153;
    --color-accent:
      /* #1E40AF */
      30 64 175;
    --color-primary-inverted:
      /* #FFFFFF */
      255 255 255;
    --color-primary-hover:
      /* #0891A0 */
      8 145 160;
    --color-secondary-inverted:
      /* #046666 */
      4 102 102;
    --color-secondary-hover:
      /* #F87171 */
      248 113 113;
    --color-success:
      /* #10B981 */
      16 185 129;
    --color-error:
      /* #EF4444 */
      239 68 68;
    --color-warning:
      /* #F59E0B */
      245 158 11;
    --color-info:
      /* #3B82F6 */
      59 130 246;

    /* text */
    --color-text-base:
      /* #1E293B */
      30 41 59;
    --color-text-muted:
      /* #64748B */
      100 116 139;
    --color-text-inverted:
      /* #FFFFFF */
      255 255 255;

    /* Background */
    --color-bg-primary:
      /* #F8FAFC */
      248 250 252;
    --color-bg-secondary:
      /* #DCF0F2 */
      220 240 242;
    --color-bg-accent:
      /* #E2E8F0 */
      226 232 240;
  }

    .theme-original-dark {
    /* branding colors - dark mode*/
    --color-primary:
      /* #00FFFF */
      0 255 255;
    --color-secondary:
      /* #FB9999 */
      251 153 153;
    --color-accent:
      /* #4065DE */
      128 158 255;
    --color-primary-inverted:
      /* #FFFFFF */
      255 255 255;
    --color-primary-hover:
      /* #7FFFD4 */
      127 255 212;
    --color-secondary-inverted:
      /* #046666 */
      4 102 102;
    --color-secondary-hover:
      /* #F87171 */
      248 113 113;
    --color-success:
      /* #10B981 */
      16 185 129;
    --color-error:
      /* #EF4444 */
      239 68 68;
    --color-warning:
      /* #F59E0B */
      245 158 11;
    --color-info:
      /* #3b82f6 */
      59 130 246;

    /* text - dark mode */
    --color-text-base:
      /* #FFFFFF */
      255 255 255;
    --color-text-muted:
      /* #C0C0C0 */
      192 192 192;
    --color-text-inverted:
      /* #000000 */
      0 0 0;

    /* background - dark mode */
    --color-bg-primary:
      /* #000000 */
      0 0 0;
      --color-bg-secondary:
        /* #1A1A1A */
        26 26 26;
    --color-bg-accent:
      /* #EDF3FC */
      237 243 252;
  }

  .theme-coral {
    /* coral - branding colors*/
    --color-primary:
      /* #ED6C5A */
      237 108 90;
    --color-secondary:
      /* #245A7D */
      36 90 125;
    --color-accent:
      /* #245A7D */
      36 90 125;
    --color-primary-inverted:
      /* #ffffff */
      255 255 255;
    --color-primary-hover:
      /* #d66051 */
      214 96 81;
    --color-secondary-inverted:
      /* #FB9999 */
      251 153 153;
    --color-secondary-hover:
      /* #13537D */
      19 83 125;
    --color-success:
      /* #10B981 */
      16 185 129;
    --color-error:
      /* #EF4444 */
      239 68 68;
    --color-warning:
      /* #f59e0b */
      245 158 11;
    --color-info:
      /* #3b82f6 */
      59 130 246;

    /* coral text */
    --color-text-base:
      /* #252525 */
      37 37 37;
    --color-text-muted:
      /* #999999 */
      153 153 153;
    --color-text-inverted:
      /* #ffffff */
      255 255 255;

    /* coral background */
    --color-bg-primary:
      /* #fcfcfc */
      252 252 252;
    --color-bg-secondary:
      /* #fff1ef */
      255 241 239;
    --color-bg-accent:
      /* #e5e7eb */
      229 231 235;
  }

    .theme-coral-dark {
    /* coral - branding colors*/
    --color-primary:
      /* #FF1F00 */
      255 31 0;
    --color-secondary:
      /* #245A7D */
      36 90 125;
    --color-accent:
      /* #3A91C9 */
      58 145 201;
    --color-primary-inverted:
      /* #ffffff */
      255 255 255;
    --color-primary-hover:
      /* #d66051 */
      214 96 81;
    --color-secondary-inverted:
      /* #FB9999 */
      251 153 153;
    --color-secondary-hover:
      /* #13537D */
      19 83 125;
    --color-success:
      /* #10B981 */
      16 185 129;
    --color-error:
      /* #EF4444 */
      239 68 68;
    --color-warning:
      /* #f59e0b */
      245 158 11;
    --color-info:
      /* #3B82F6 */
      59 130 246;

    /* text - dark mode */
    --color-text-base:
      /* #FFFFFF */
      255 255 255;
    --color-text-muted:
      /* #C0C0C0 */
      192 192 192;
    --color-text-inverted:
      /* #000000 */
      0 0 0;

    /* background - dark mode */
    --color-bg-primary:
      /* #000000 */
      0 0 0;
    --color-bg-secondary:
      /* #1A1A1A */
      26 26 26;
    --color-bg-accent:
      /* #FFFFFF */
      255 255 255;
  }

  .theme-violet {
    /* violet - branding colors*/
    --color-primary:
      /* #A45D9A */
      164 93 154;
    --color-secondary:
      /* #FB9999 */
      251 153 153;
    --color-accent:
      /* #7A1C5A */
      122 28 90;
    --color-primary-inverted:
      /* #ffffff */
      255 255 255;
    --color-primary-hover:
      /* #c46fb8 */
      196 111 184;
    --color-secondary-inverted:
      /* #25AAAF */
      37 170 175;
    --color-secondary-hover:
      /* #DA342E */
      218 52 46;
    --color-success:
      /* #10B981 */
      16 185 129;
    --color-error:
      /* #EF4444 */
      239 68 68;
    --color-warning:
      /* #f59e0b */
      245 158 11;
    --color-info:
      /* #3b82f6 */
      59 130 246;

    /* Violet - text */
    --color-text-base:
      /* #252525 */
      37 37 37;
    --color-text-muted:
      /* #464646 */
      70 70 70;
    --color-text-inverted:
      /* #000000 */
      255 255 255;

    /* Violet - background */
    --color-bg-primary:
      /* #fcfcfc */
      252 252 252;
    --color-bg-secondary:
      /* #E5D9F2 */
      229 217 242;
    --color-bg-accent:
      /* #e5e7eb */
      229 231 235;
  }

  .theme-violet-dark {
    /* violet - branding colors */
    --color-primary:
      /* #FF00DB */
      255 0 219;
    --color-secondary:
      /* #AB514E */
      171 81 78;
    --color-accent:
      /* #DBB4CE */
      219 180 206;
    --color-primary-inverted:
      /* #ffffff */
      255 255 255;
    --color-primary-hover:
      /* #c46fb8 */
      196 111 184;
    --color-secondary-inverted:
      /* #25AAAF */
      37 170 175;
    --color-secondary-hover:
      /* #DA342E */
      218 52 46;
    --color-success:
      /* #10B981 */
      16 185 129;
    --color-error:
      /* #EF4444 */
      239 68 68;
    --color-warning:
      /* #f59e0b */
      245 158 11;
    --color-info:
      /* #3b82f6 */
      59 130 246;

    /* text - dark mode */
    --color-text-base:
      /* #FFFFFF */
      255 255 255;
    --color-text-muted:
      /* #C0C0C0 */
      192 192 192;
    --color-text-inverted:
      /* #000000 */
      0 0 0;

    /* background - dark mode */
    --color-bg-primary:
      /* #000000 */
      0 0 0;
    --color-bg-secondary:
      /* #1A1A1A */
      26 26 26;
    --color-bg-accent:
      /* #FFFFFF */
      255 255 255;
  }

  /* MARK: Accessible Themes */

  /* accessible high contrast theme */

  .theme-accessible-high-contrast {
    /* high contrast - general branding colors */
    --color-primary:
      /* #006872 */
      0 104 114;
    --color-secondary:
      /* #FFFF00 */
      255 255 0;
    --color-accent:
      /* #BD00BD */
      189 0 189;
    --color-primary-inverted:
      /* #000000 */
      0 0 0;
    --color-primary-hover:
      /* #7FFFD4 */
      127 255 212;
    --color-secondary-inverted:
      /* #000000 */
      0 0 0;
    --color-secondary-hover:
      /* #FFFACD */
      255 250 205;
    --color-success:
      /* #10B981 */
      16 185 129;
    --color-error:
      /* #EF4444 */
      239 68 68;
    --color-warning:
      /* #f59e0b */
      245 158 11;
    --color-info:
      /* #3b82f6 */
      59 130 246;

    /* high contrast - text */
    --color-text-base:
      /* #1E3B3B */
      30 59 59;
    --color-text-muted:
      /* #C0C0C0 */
      192 192 192;
    --color-text-inverted:
      /* #FFFFFF */
      255 255 255;

    /* high contrast - background */
    --color-bg-primary:
      /* #F8FAFC */
      248 250 252;
    --color-bg-secondary:
      /* #DAF2F2 */
      218 242 242;
    --color-bg-accent:
      /* #e1f0f0 */
      255 240 240;
  }

  .theme-accessible-high-contrast-dark {
    /* high contrast - general branding colors */
    --color-primary:
      /* #00FFFF */
      0 255 255;
    --color-secondary:
      /* #FFFF00 */
      255 255 0;
    --color-accent:
      /* #FF00FF */
      255 0 255;
    --color-primary-inverted:
      /* #000000 */
      0 0 0;
    --color-primary-hover:
      /* #7FFFD4 */
      127 255 212;
    --color-secondary-inverted:
      /* #000000 */
      0 0 0;
    --color-secondary-hover:
      /* #FFFACD */
      255 250 205;
    --color-success:
      /* #10B981 */
      16 185 129;
    --color-error:
      /* #EF4444 */
      239 68 68;
    --color-warning:
      /* #f59e0b */
      245 158 11;
    --color-info:
      /* #3b82f6 */
      59 130 246;

    /* high contrast - text */
    --color-text-base:
      /* #FFFFFF */
      255 255 255;
    --color-text-muted:
      /* #C0C0C0 */
      192 192 192;
    --color-text-inverted:
      /* #000000 */
      0 0 0;

    /* high contrast - background */
    --color-bg-primary:
      /* #000000 */
      0 0 0;
    --color-bg-secondary:
      /* #1A1A1A */
      26 26 26;
    --color-bg-accent:
      /* #FFFFFF */
      255 255 255;
  }

  /* accessible r-g color blindness friendly theme (daltonism) */

  .theme-accessible-red-green {
    /* red green - general branding colors */
    --color-primary:
      /* #007BFF */
      0 123 255;
    --color-secondary:
      /* #D97706 */
      217 119 6;
    --color-accent:
      /* #DEA807 */
      222 168 7;
    --color-primary-inverted:
      /* #FFFFFF */
      255 255 255;
    --color-primary-hover:
      /* #2563EB */
      37 99 235;
    --color-secondary-inverted:
      /* #FFFFFF */
      255 255 255;
    --color-secondary-hover:
      /* #F59E0B */
      245 158 11;
    --color-success:
      /* #10B981 */
      16 185 129;
    --color-error:
      /* #EF4444 */
      239 68 68;
    --color-warning:
      /* #f59e0b */
      245 158 11;
    --color-info:
      /* #3b82f6 */
      59 130 246;

    /* red green - text */
    --color-text-base:
      /* #1E2C3B */
      30 44 59;
    --color-text-muted:
      /* #9CA3AF */
      156 163 175;
    --color-text-inverted:
      /* #FFFFFF */
      255 255 255;

    /* red green - background */
    --color-bg-primary:
      /* #F7FAFC */
      247 250 252;
    --color-bg-secondary:
      /* #DAE6F2 */
      218 230 242;
    --color-bg-accent:
      /* #E1E8F0 */
      225 232 240;
  }

    .theme-accessible-red-green-dark {
    /* red green - general branding colors */
    --color-primary:
      /* #007BFF */
      0 123 255;
    --color-secondary:
      /* #D97706 */
      217 119 6;
    --color-accent:
      /* #FFC107 */
      255 193 7;
    --color-primary-inverted:
      /* #FFFFFF */
      255 255 255;
    --color-primary-hover:
      /* #2563EB */
      37 99 235;
    --color-secondary-inverted:
      /* #FFFFFF */
      255 255 255;
    --color-secondary-hover:
      /* #F59E0B */
      245 158 11;
    --color-success:
      /* #10B981 */
      16 185 129;
    --color-error:
      /* #EF4444 */
      239 68 68;
    --color-warning:
      /* #f59e0b */
      245 158 11;
    --color-info:
      /* #3b82f6 */
      59 130 246;

    /* red green - text */
    --color-text-base:
      /* #E5E7EB */
      229 231 235;
    --color-text-muted:
      /* #9CA3AF */
      156 163 175;
    --color-text-inverted:
      /* #111827 */
      17 24 39;

    /* red green - background */
    --color-bg-primary:
      /* #1F2937 */
      31 41 55;
    --color-bg-secondary:
      /* #374151 */
      55 65 81;
    --color-bg-accent:
      /* #F3F4F6 */
      243 244 246;
  }

  /* .theme-ocean { */
  /* general branding colors */
  /* --color-primary: */
  /* #77A6CD */
  /* 119 166 205; */
  /* --color-secondary: */
  /* #DA5550 */
  /* 218 85 80; */
  /* --color-accent: */
  /* #F4F3E9 */
  /* 244 243 233; */
  /* --color-primary-inverted: */
  /* #ffffff */
  /* 255 255 255; */
  /* --color-primary-hover: */
  /* #10B981 */
  /* 16 185 129; */
  /* --color-secondary-inverted: */
  /* #ffffff */
  /* 255 255 255; */
  /* --color-secondary-hover: */
  /* #d66051 */
  /* 214 96 81; */
  /* element specific colors */
  /* --color-text-base: */
  /* #252525 */
  /* 37 37 37; */
  /* --color-text-muted: */
  /* #464646 */
  /* 70 70 70; */
  /* --color-text-inverted: */
  /* #000000 */
  /* 255 255 255; */
  /* --color-bg-primary: */
  /* #fcfcfc */
  /* 252 252 252; */
  /* --color-bg-secondary: */
  /* bde5ff */
  /* 189 229 255; */
  /* --color-bg-accent: */
  /* #e5e7eb */
  /* 229 231 235; */
  /* --color-success: */
  /* #10B981 */
  /* 16 185 129; */
  /* --color-error: */
  /* #EF4444 */
  /* 239 68 68; */
  /* --color-warning: */
  /* #f59e0b */
  /* 245 158 11; */
  /* --color-info: */
  /* #3b82f6 */
  /* 59 130 246; */
  /* } */
}
