@import "tailwindcss";

/* We use these custom variants to target portrait and landscape orientation instead of using screen sizes.
   This is because screen sizes are not consistent across devices and can cause unexpected behavior. */
@custom-variant portrait (@media (orientation: portrait));
@custom-variant landscape (@media (orientation: landscape));

@theme {
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-currentColor: #ED6C5A;
  --color-primary: rgb(var(--theme-color-primary));
  --color-secondary: rgb(var(--theme-color-secondary));
  --color-accent: rgb(var(--theme-color-accent));
  --color-primary-inverted: rgb(var(--theme-color-primary-inverted));
  --color-primary-hover: rgb(var(--theme-color-primary-hover));
  --color-primary-bg: rgb(var(--theme-color-bg-primary));
  --color-secondary-bg: rgb(var(--theme-color-bg-secondary));
  --color-accent-bg: rgb(var(--theme-color-bg-accent));
  --color-primary-text: rgb(var(--theme-color-text-base));
  --color-primary-text-muted: rgb(var(--theme-color-text-muted));
  --color-primary-text-inverted: rgb(var(--theme-color-text-inverted));
  --color-secondary-inverted: rgb(var(--theme-color-secondary-inverted));
  --color-secondary-hover: rgb(var(--theme-color-secondary-hover));
  --color-success: rgb(var(--theme-color-success));
  --color-error: rgb(var(--theme-color-error));
  --color-warning: rgb(var(--theme-color-warning));
  --color-info: rgb(var(--theme-color-info));
  --color-blue: #245A7D;
}

@font-face {
  font-family: notosans;
  src: url('../fonts/Noto_Sans/NotoSans-Regular.ttf');
}

@font-face {
  font-family: notosans-bold;
  src: url('../fonts/Noto_Sans/NotoSans-Bold.ttf');
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

@layer base {
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg font-semibold;
  }

  :root {
    /* These colors are using a syntax special to tailwind to allow for alpha changes. Uncomment hex value for reference */
    /* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
    /* Example: rgb(14 176 192 / 0.5) for 50% opacity */

    /* general branding colors */
    --theme-color-primary:
      /* #0EB0C0 */
      14 176 192;
    --theme-color-secondary:
      /* #FB9999 */
      251 153 153;
    --theme-color-accent:
      /* #1e40af */
      30 64 175;
    --theme-color-primary-inverted:
      /* #FFFFFF */
      255 255 255;
    --theme-color-primary-hover:
      /* #0891a0 */
      8 145 160;
    --theme-color-secondary-inverted:
      /* #7f1d1d */
      127 29 29;
    --theme-color-secondary-hover:
      /* #f87171 */
      248 113 113;

    /* element specific colors */
    --theme-color-text-base:
      /* #1e293b */
      30 41 59;
    --theme-color-text-muted:
      /* #64748b */
      100 116 139;
    --theme-color-text-inverted:
      /* #ffffff */
      255 255 255;
    --theme-color-bg-primary:
      /* #f8fafc */
      248 250 252;
    --theme-color-bg-secondary:
      /* #ffffff */
      255 255 255;
    --theme-color-bg-accent:
      /* #e2e8f0 */
      226 232 240;
    --theme-color-success:
      /* #10b981 */
      16 185 129;
    --theme-color-error:
      /* #ef4444 */
      239 68 68;
    --theme-color-warning:
      /* #f59e0b */
      245 158 11;
    --theme-color-info:
      /* #3b82f6 */
      59 130 246;
  }

  .theme-original-dark {
    /* branding colors - dark mode*/
    --theme-color-primary:
      /* #0EB0C0 */
      14 176 192;
    --theme-color-secondary:
      /* #FB9999 */
      251 153 153;
    --theme-color-accent:
      /* #4065DE */
      128 158 255;
    --theme-color-primary-inverted:
      /* #FFFFFF */
      255 255 255;
    --theme-color-primary-hover:
      /* #7FFFD4 */
      127 255 212;
    --theme-color-secondary-inverted:
      /* #046666 */
      4 102 102;
    --theme-color-secondary-hover:
      /* #F87171 */
      248 113 113;
    --theme-color-success:
      /* #10B981 */
      16 185 129;
    --theme-color-error:
      /* #EF4444 */
      239 68 68;
    --theme-color-warning:
      /* #F59E0B */
      245 158 11;
    --theme-color-info:
      /* #3b82f6 */
      59 130 246;

    /* text - dark mode */
    --theme-color-text-base:
      /* #FFFFFF */
      255 255 255;
    --theme-color-text-muted:
      /* #C0C0C0 */
      192 192 192;
    --theme-color-text-inverted:
      /* #000000 */
      0 0 0;

    /* background - dark mode */
    --theme-color-bg-primary:
      /* #212626 */
      33 38 38;
    --theme-color-bg-secondary:
      /* #1A1A1A */
      26 26 26;
    --theme-color-bg-accent:
      /* #EDF3FC */
      237 243 252;
  }

  .theme-coral {
    /* general branding colors */
    --theme-color-primary:
      /* #ED6C5A */
      237 108 90;
    --theme-color-secondary:
      /* #245A7D */
      36 90 125;
    --theme-color-accent:
      /* #245A7D */
      36 90 125;
    --theme-color-primary-inverted:
      /* #ffffff */
      255 255 255;
    --theme-color-primary-hover:
      /* #d66051 */
      214 96 81;
    --theme-color-secondary-inverted:
      /* #ffffff */
      255 255 255;
    --theme-color-secondary-hover:
      /* #d66051 */
      214 96 81;

    /* element specific colors */
    --theme-color-text-base:
      /* #252525 */
      37 37 37;
    --theme-color-text-muted:
      /* #999999 */
      153 153 153;
    --theme-color-text-inverted:
      /* #000000 */
      255 255 255;
    --theme-color-bg-primary:
      /* #fcfcfc */
      252 252 252;
    --theme-color-bg-secondary:
      /* #fff1ef */
      255 241 239;
    --theme-color-bg-accent:
      /* #e5e7eb */
      229 231 235;
    --theme-color-success:
      /* #007ccf */
      0 124 207;
    --theme-color-error:
      /* #d1523f */
      209 82 63;
    --theme-color-warning:
      /* #f59e0b */
      245 158 11;
    --theme-color-info:
      /* #3b82f6 */
      59 130 246;
  }

  .theme-coral-dark {
    /* coral - branding colors*/
    --theme-color-primary:
      /* #ED6C5A */
      237 108 90;
    --theme-color-secondary:
      /* #245A7D */
      36 90 125;
    --theme-color-accent:
      /* #3A91C9 */
      58 145 201;
    --theme-color-primary-inverted:
      /* #ffffff */
      255 255 255;
    --theme-color-primary-hover:
      /* #d66051 */
      214 96 81;
    --theme-color-secondary-inverted:
      /* #FB9999 */
      251 153 153;
    --theme-color-secondary-hover:
      /* #13537D */
      19 83 125;
    --theme-color-success:
      /* #10B981 */
      16 185 129;
    --theme-color-error:
      /* #EF4444 */
      239 68 68;
    --theme-color-warning:
      /* #f59e0b */
      245 158 11;
    --theme-color-info:
      /* #3B82F6 */
      59 130 246;

    /* text - dark mode */
    --theme-color-text-base:
      /* #FFFFFF */
      255 255 255;
    --theme-color-text-muted:
      /* #C0C0C0 */
      192 192 192;
    --theme-color-text-inverted:
      /* #000000 */
      0 0 0;

    /* background - dark mode */
    --theme-color-bg-primary:
      /* #22201F */
      34 32 31;
    --theme-color-bg-secondary:
      /* #1A1A1A */
      26 26 26;
    --theme-color-bg-accent:
      /* #FFFFFF */
      255 255 255;
  }

  .theme-violet {
    /* general branding colors */
    --theme-color-primary:
      /* #A45D9A */
      164 93 154;
    --theme-color-secondary:
      /* #DA5550 */
      218 85 80;
    --theme-color-accent:
      /* #F4F3E9 */
      244 243 233;
    --theme-color-primary-inverted:
      /* #ffffff */
      255 255 255;
    --theme-color-primary-hover:
      /* #c46fb8 */
      196 111 184;
    --theme-color-secondary-inverted:
      /* #ffffff */
      255 255 255;
    --theme-color-secondary-hover:
      /* #d66051 */
      214 96 81;

    /* element specific colors */
    --theme-color-text-base:
      /* #252525 */
      37 37 37;
    --theme-color-text-muted:
      /* #464646 */
      70 70 70;
    --theme-color-text-inverted:
      /* #000000 */
      255 255 255;
    --theme-color-bg-primary:
      /* #fcfcfc */
      252 252 252;
    --theme-color-bg-secondary:
      /* #E5D9F2 */
      229 217 242;
    --theme-color-bg-accent:
      /* #e5e7eb */
      229 231 235;
    --theme-color-success:
      /* #007ccf */
      0 124 207;
    --theme-color-error:
      /* #d1523f */
      209 82 63;
    --theme-color-warning:
      /* #f59e0b */
      245 158 11;
    --theme-color-info:
      /* #3b82f6 */
      59 130 246;
  }

  .theme-violet-dark {
    /* violet - branding colors */
    --theme-color-primary:
      /* #A45D9A */
      164 93 154;
    --theme-color-secondary:
      /* #99A6FB */
      153 166 251;
    --theme-color-accent:
      /* #DBB4CE */
      219 180 206;
    --theme-color-primary-inverted:
      /* #ffffff */
      255 255 255;
    --theme-color-primary-hover:
      /* #c46fb8 */
      196 111 184;
    --theme-color-secondary-inverted:
      /* #25AAAF */
      37 170 175;
    --theme-color-secondary-hover:
      /* #DA342E */
      218 52 46;
    --theme-color-success:
      /* #10B981 */
      16 185 129;
    --theme-color-error:
      /* #EF4444 */
      239 68 68;
    --theme-color-warning:
      /* #f59e0b */
      245 158 11;
    --theme-color-info:
      /* #3b82f6 */
      59 130 246;


    /* text - dark mode */
    --theme-color-text-base:
      /* #FFFFFF */
      255 255 255;
    --theme-color-text-muted:
      /* #C0C0C0 */
      192 192 192;
    --theme-color-text-inverted:
      /* #000000 */
      0 0 0;

    /* background - dark mode */
    --theme-color-bg-primary:
      /* #262125 */
      38 33 37;
    --theme-color-bg-secondary:
      /* #1A1A1A */
      26 26 26;
    --theme-color-bg-accent:
      /* #FFFFFF */
      255 255 255;
  }

  .theme-ocean {
    /* general branding colors */
    --theme-color-primary:
      /* #77A6CD */
      119 166 205;
    --theme-color-secondary:
      /* #DA5550 */
      218 85 80;
    --theme-color-accent:
      /* #F4F3E9 */
      244 243 233;
    --theme-color-primary-inverted:
      /* #ffffff */
      255 255 255;
    --theme-color-primary-hover:
      /* #007ccf */
      0 124 207;
    --theme-color-secondary-inverted:
      /* #ffffff */
      255 255 255;
    --theme-color-secondary-hover:
      /* #d66051 */
      214 96 81;

    /* element specific colors */
    --theme-color-text-base:
      /* #252525 */
      37 37 37;
    --theme-color-text-muted:
      /* #464646 */
      70 70 70;
    --theme-color-text-inverted:
      /* #000000 */
      255 255 255;
    --theme-color-bg-primary:
      /* #fcfcfc */
      252 252 252;
    --theme-color-bg-secondary:
      /* bde5ff */
      189 229 255;
    --theme-color-bg-accent:
      /* #e5e7eb */
      229 231 235;
    --theme-color-success:
      /* #007ccf */
      0 124 207;
    --theme-color-error:
      /* #d1523f */
      209 82 63;
    --theme-color-warning:
      /* #f59e0b */
      245 158 11;
    --theme-color-info:
      /* #3b82f6 */
      59 130 246;
  }

  .theme-neon {
    /* general branding colors */
    --theme-color-primary:
      /* #006D6A */
      0 109 106;
    --theme-color-secondary:
      /* #524c4c */
      82 76 76;
    --theme-color-accent:
      /* #FF3377 */
      255 51 119;
    --theme-color-primary-inverted:
      /* #ffffff */
      255 255 255;
    --theme-color-primary-hover:
      /* #1abb85 */
      26 187 133;
    --theme-color-secondary-inverted:
      /* #ffffff */
      255 255 255;
    --theme-color-secondary-hover:
      /* #d66051 */
      214 96 81;

    /* element specific colors */
    --theme-color-text-base:
      /* #88eecc */
      136 238 204;
    --theme-color-text-muted:
      /* #36846A */
      54 132 106;
    --theme-color-text-inverted:
      /* #252525 */
      37 37 37;
    --theme-color-bg-primary:
      /* #383434 */
      56 52 52;
    --theme-color-bg-secondary:
      /* #524c4c */
      82 76 76;
    --theme-color-bg-accent:
      /* #e5e7eb */
      82 82 82;
    --theme-color-success:
      /* #007ccf */
      0 124 207;
    --theme-color-error:
      /* #525252 */
      209 82 63;
    --theme-color-warning:
      /* #f59e0b */
      245 158 11;
    --theme-color-info:
      /* #3b82f6 */
      59 130 246;
  }

  /* MARK: Accessible Themes */

  /* accessible high contrast theme */
    .theme-accessible-high-contrast {
    /* high contrast - general branding colors */
    --theme-color-primary:
      /* #006872 */
      0 104 114;
    --theme-color-secondary:
      /* #FFFF00 */
      255 255 0;
    --theme-color-accent:
      /* #BD00BD */
      189 0 189;
    --theme-color-primary-inverted:
      /* #000000 */
      0 0 0;
    --theme-color-primary-hover:
      /* #7FFFD4 */
      127 255 212;
    --theme-color-secondary-inverted:
      /* #000000 */
      0 0 0;
    --theme-color-secondary-hover:
      /* #FFFACD */
      255 250 205;
    --theme-color-success:
      /* #10B981 */
      16 185 129;
    --theme-color-error:
      /* #EF4444 */
      239 68 68;
    --theme-color-warning:
      /* #f59e0b */
      245 158 11;
    --theme-color-info:
      /* #3b82f6 */
      59 130 246;

    /* high contrast - text */
    --theme-color-text-base:
      /* #1E3B3B */
      30 59 59;
    --theme-color-text-muted:
      /* #C0C0C0 */
      192 192 192;
    --theme-color-text-inverted:
      /* #FFFFFF */
      255 255 255;

    /* high contrast - background */
    --theme-color-bg-primary:
      /* #F8FAFC */
      248 250 252;
    --theme-color-bg-secondary:
      /* #DAF2F2 */
      218 242 242;
    --theme-color-bg-accent:
      /* #e1f0f0 */
      255 240 240;
  }

  .theme-accessible-high-contrast-dark {
    /* high contrast - general branding colors */
    --theme-color-primary:
      /* #00FFFF */
      0 255 255;
    --theme-color-secondary:
      /* #FFFF00 */
      255 255 0;
    --theme-color-accent:
      /* #FF00FF */
      255 0 255;
    --theme-color-primary-inverted:
      /* #000000 */
      0 0 0;
    --theme-color-primary-hover:
      /* #7FFFD4 */
      127 255 212;
    --theme-color-secondary-inverted:
      /* #000000 */
      0 0 0;
    --theme-color-secondary-hover:
      /* #FFFACD */
      255 250 205;
    --theme-color-success:
      /* #10B981 */
      16 185 129;
    --theme-color-error:
      /* #EF4444 */
      239 68 68;
    --theme-color-warning:
      /* #f59e0b */
      245 158 11;
    --theme-color-info:
      /* #3b82f6 */
      59 130 246;

    /* high contrast - text */
    --theme-color-text-base:
      /* #FFFFFF */
      255 255 255;
    --theme-color-text-muted:
      /* #C0C0C0 */
      192 192 192;
    --theme-color-text-inverted:
      /* #000000 */
      0 0 0;

    /* high contrast - background */
    --theme-color-bg-primary:
      /* #000000 */
      0 0 0;
    --theme-color-bg-secondary:
      /* #2B3636 */
      43 54 54;
    --theme-color-bg-accent:
      /* #FFFFFF */
      255 255 255;
  }

  /* accessible r-g color blindness friendly theme (daltonism) */
  .theme-accessible-red-green {
    /* red green - general branding colors */
    --theme-color-primary:
      /* #007BFF */
      0 123 255;
    --theme-color-secondary:
      /* #D97706 */
      217 119 6;
    --theme-color-accent:
      /* #DEA807 */
      222 168 7;
    --theme-color-primary-inverted:
      /* #FFFFFF */
      255 255 255;
    --theme-color-primary-hover:
      /* #2563EB */
      37 99 235;
    --theme-color-secondary-inverted:
      /* #FFFFFF */
      255 255 255;
    --theme-color-secondary-hover:
      /* #F59E0B */
      245 158 11;
    --theme-color-success:
      /* #10B981 */
      16 185 129;
    --theme-color-error:
      /* #EF4444 */
      239 68 68;
    --theme-color-warning:
      /* #f59e0b */
      245 158 11;
    --theme-color-info:
      /* #3b82f6 */
      59 130 246;

    /* red green - text */
    --theme-color-text-base:
      /* #1E2C3B */
      30 44 59;
    --theme-color-text-muted:
      /* #9CA3AF */
      156 163 175;
    --theme-color-text-inverted:
      /* #FFFFFF */
      255 255 255;

    /* red green - background */
    --theme-color-bg-primary:
      /* #F7FAFC */
      247 250 252;
    --theme-color-bg-secondary:
      /* #DAE6F2 */
      218 230 242;
    --theme-color-bg-accent:
      /* #E1E8F0 */
      225 232 240;
  }



.theme-accessible-red-green-dark {
    /* red green - general branding colors */
    --theme-color-primary:
      /* #007BFF */
      0 123 255;
    --theme-color-secondary:
      /* #D97706 */
      217 119 6;
    --theme-color-accent:
      /* #FFC107 */
      255 193 7;
    --theme-color-primary-inverted:
      /* #FFFFFF */
      255 255 255;
    --theme-color-primary-hover:
      /* #2563EB */
      37 99 235;
    --theme-color-secondary-inverted:
      /* #FFFFFF */
      255 255 255;
    --theme-color-secondary-hover:
      /* #F59E0B */
      245 158 11;
    --theme-color-success:
      /* #10B981 */
      16 185 129;
    --theme-color-error:
      /* #EF4444 */
      239 68 68;
    --theme-color-warning:
      /* #f59e0b */
      245 158 11;
    --theme-color-info:
      /* #3b82f6 */
      59 130 246;

    /* red green - text */
    --theme-color-text-base:
      /* #E5E7EB */
      229 231 235;
    --theme-color-text-muted:
      /* #9CA3AF */
      156 163 175;
    --theme-color-text-inverted:
      /* #111827 */
      17 24 39;

    /* red green - background */
    --theme-color-bg-primary:
      /* #1F2937 */
      31 41 55;
    --theme-color-bg-secondary:
      /* #374151 */
      55 65 81;
    --theme-color-bg-accent:
      /* #F3F4F6 */
      243 244 246;
  }
}
